//nav
.nav {
    height: 40px;
    background-color: rgba(196, 2, 4, 1);
    position: relative;
}

.nav-lists li {
    float: left;
}

.nav-lists li a {
    color: #fff;
    margin-right: 50px;
    font-size: 16px;
    line-height: 40px;
}

.nav-lists li .icon-xiangshang {
    margin-left: 5px;
    padding-top: 2px;
    font-size: 14px;
    display: inline-block;
    transform: rotate(180deg);
    transition: all 0.5s;
}

.nav-lists .all:hover .icon-xiangshang {
    transform: rotate(0deg);
}

.nav ul .nav-allselect {
    height: 0px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    transition: all 0.5s;
    z-index: 3;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -610px;
}

.all .nav-allselect a {
    align-self: center;
    display: flex;
    margin-right: 0;
    flex-direction: column;
    transition: all 0.3s;
}

.nav-allselect img {
    margin-bottom: 15px;
    width: 62px;
    height: 33px;
}

.nav-allselect p {
    color: #333;
    font-size: 12px;
    text-align: center;
    line-height: 0px;
    margin-bottom: 10px;
}

.nav-allselect a:hover p {
    color: #08c;
}

.nav-allselect a:hover {
    margin-top: -10px;
}

.all:hover .nav-allselect {
    height: 85px;
}

.hot-list {
    position: relative;
}

// .nav-lists span {}
.nav-lists .hot {
    width: 20px;
    position: absolute;
    top: 5px;
}