// 头部
.top {
    height: 44px;
    background: rgba(227, 228, 229, 1);
}

.t-lists-l li {
    margin-right: 30px;
    float: left;
}

.t-lists-r li {
    float: right;
    margin-left: 30px;
}

.top li a {
    font-size: 12px;
    line-height: 44px;
    color: #666;
    transition: color 0.3s;
}

.top li a:hover {
    color: #0088cc;
}

.t-lists-r li .icon-gouwuche {
    font-size: 14px;
    cursor: pointer;
}

.t-lists-r li .t-num {
    width: 18px;
    height: 18px;
    margin-left: 4px;
    color: #fff;
    text-align: center;
    background-color: #ff0000;
    border-radius: 10px;
    display: inline-block;
    line-height: 18px;
    text-align: center;
}