// 主体
$box_height:491px;
// .welcome {}
.left-menu {
    width: 235px;
    height: $box_height;
    background-color: #5e5f62;
}

.menu-lists {
    margin: 9px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-lists li {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    line-height: 43px;
    height: 43px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.menu-lists li:hover {
    background-color: #333;
}

.menu-lists li a {
    color: #fff;
    line-height: 43px;
    font-size: 16px;
}

.menu-lists li.active {
    background-color: #d9d9d9;
}

.cartlist {
    position: absolute;
    left: 300px;
    // top: 300px;
    width: 998px;
    min-height: 468px;
    border: 1px solid #ff0000;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
    display: none;
    transition: top 0.3s ease;
}

.item {
    padding: 20px;
    display: none;
}

.right-banner {
    width: 985px;
    height: $box_height;
    background-color: lightcyan;
}