@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clr_fix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

/* 版心 */
.wrap {
  width: 1220px;
  margin: 0 auto;
  overflow: hidden;
}

.top {
  height: 44px;
  background: #e3e4e5;
}

.t-lists-l li {
  margin-right: 30px;
  float: left;
}

.t-lists-r li {
  float: right;
  margin-left: 30px;
}

.top li a {
  font-size: 12px;
  line-height: 44px;
  color: #666;
  transition: color 0.3s;
}

.top li a:hover {
  color: #0088cc;
}

.t-lists-r li .icon-gouwuche {
  font-size: 14px;
  cursor: pointer;
}

.t-lists-r li .t-num {
  width: 18px;
  height: 18px;
  margin-left: 4px;
  color: #fff;
  text-align: center;
  background-color: #ff0000;
  border-radius: 10px;
  display: inline-block;
  line-height: 18px;
  text-align: center;
}

.hlogo {
  width: 290px;
  height: 123px;
}

.hlogo-pic {
  width: 290px;
  height: 77px;
  cursor: pointer;
  margin-top: 23px;
}

.hadv img {
  width: 270px;
  height: 106px;
  margin: 10px 0 0 40px;
}

.redsearch {
  width: 280px;
  height: 46px;
  line-height: 46px;
  border: 2px solid #c40204;
  margin-top: 43px;
  border-radius: 25px;
}

.redsearch input {
  font-size: 14px;
  color: #999;
  font-weight: bold;
  border: #fff 0;
  outline: none;
}

.redsearch .icon-fangdajing {
  font-size: 18px;
  color: #c40204;
  margin-left: 20px;
  line-height: 46px;
}

.nav {
  height: 40px;
  background-color: #c40204;
  position: relative;
}

.nav-lists li {
  float: left;
}

.nav-lists li a {
  color: #fff;
  margin-right: 50px;
  font-size: 16px;
  line-height: 40px;
}

.nav-lists li .icon-xiangshang {
  margin-left: 5px;
  padding-top: 2px;
  font-size: 14px;
  display: inline-block;
  transform: rotate(180deg);
  transition: all 0.5s;
}

.nav-lists .all:hover .icon-xiangshang {
  transform: rotate(0deg);
}

.nav ul .nav-allselect {
  height: 0px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  transition: all 0.5s;
  z-index: 3;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -610px;
}

.all .nav-allselect a {
  align-self: center;
  display: flex;
  margin-right: 0;
  flex-direction: column;
  transition: all 0.3s;
}

.nav-allselect img {
  margin-bottom: 15px;
  width: 62px;
  height: 33px;
}

.nav-allselect p {
  color: #333;
  font-size: 12px;
  text-align: center;
  line-height: 0px;
  margin-bottom: 10px;
}

.nav-allselect a:hover p {
  color: #08c;
}

.nav-allselect a:hover {
  margin-top: -10px;
}

.all:hover .nav-allselect {
  height: 85px;
}

.hot-list {
  position: relative;
}

.nav-lists .hot {
  width: 20px;
  position: absolute;
  top: 5px;
}

.welcome {
  position: relative;
}

.left-menu {
  width: 235px;
  height: 491px;
  background-color: #5e5f62;
}

.menu-lists {
  margin: 9px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-lists li {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  line-height: 43px;
  height: 43px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.menu-lists li a {
  color: #fff;
  line-height: 43px;
  font-size: 16px;
}

.menu-lists li.active {
  background-color: #333;
}

.cartlist {
  z-index: 2;
  position: absolute;
  left: 235px;
  top: 0px;
  width: 700px;
  min-height: 491px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  display: none;
  transition: top 0.3s ease;
  background-color: #dff;
}

.item {
  padding: 20px;
  display: none;
}

.item-title {
  font-size: 14px;
  color: #3e3a39;
  line-height: 46px;
}

.item-title a {
  font-size: 14px;
  color: #3e3a39;
  line-height: 46px;
}

.item-type {
  font-size: 16px;
  line-height: 46px;
}

.item-price span {
  font-size: 14px;
  color: #3e3a39;
  line-height: 46px;
  margin-right: 20px;
}

.right-banner {
  width: 985px;
  height: 491px;
  background-color: lightcyan;
  position: relative;
}

.right-banner ul li {
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.right-banner ol {
  text-align: right;
  position: absolute;
  bottom: 25px;
  right: 30px;
}

.right-banner ol li {
  width: 11px;
  height: 11px;
  margin: 0 5px 0 4px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.right-banner ol li.active {
  background: url(https://img.shoprobam.com/Public/pcnew_xb/svg/banner_h.svg) no-repeat center;
}

.right-banner a {
  width: 40px;
  height: 70px;
  opacity: 0;
  position: absolute;
  top: 50%;
  margin-top: -35px;
}

#left {
  left: 40px;
  background: #1a1718 url(https://img.shoprobam.com/Public/pcnew_xb/svg/banner_left.svg) no-repeat center;
  background-size: 15px auto;
}

#right {
  right: 40px;
  background: #1a1718 url(https://img.shoprobam.com/Public/pcnew_xb/svg/banner_right.svg) no-repeat center;
  background-size: 15px auto;
}

.right-banner:hover a {
  opacity: 1;
}

.intro {
  height: 160px;
  margin-bottom: 50px;
  padding-top: 13px;
}

.intro li {
  float: left;
  width: 295px;
  overflow: hidden;
  position: relative;
  margin-right: 13px;
}

.intro li:nth-last-child(1) {
  margin-right: 0;
}

.intro li img {
  width: 100%;
  transition: all 0.3s;
}

.intro li p {
  width: 100%;
  height: 34px;
  text-align: center;
  line-height: 34px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(https://img.shoprobam.com/Public/pcnew_xb/img/img40.png) no-repeat center;
  color: #fff;
  font-size: 14px;
}

.intro li:hover img {
  transform: scale(1.15);
}

.limit {
  height: 57px;
}

.limit h2 {
  font-size: 26px;
  color: 3333;
  line-height: 30px;
  width: 116px;
  padding-bottom: 22px;
}

.limit-box {
  height: 921px;
  background-color: #fff;
}

.limit-box li {
  float: left;
  margin-right: 14px;
  background: #f4f4f4;
  padding: 45px 20px 28px;
  width: 563px;
  height: 220px;
  margin-bottom: 14px;
  position: relative;
}

.limit-box li:nth-child(even) {
  margin-right: 0;
}

.limit-l {
  width: 220px;
  height: 220px;
}

.limit-l span {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
  background: #f71a27;
  position: absolute;
  top: 0;
  left: 80px;
}

.limit-l img {
  width: 100%;
  transition: all 0.3s;
}

.limit-r {
  width: 297px;
  cursor: pointer;
}

.limit-r h2 {
  font-size: 18px;
  color: #050000;
  line-height: 19px;
  height: 19px;
  margin-bottom: 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.limit-r p {
  font-size: 14px;
  color: #ff0000;
  line-height: 22px;
  margin-bottom: 30px;
}

.limit-r .txt {
  font-size: 14px;
  color: #da0000;
  line-height: 28px;
}

.limit-r .price {
  font-size: 23px;
  color: #d70000;
}

.limit-r .btn {
  width: 151px;
  height: 41px;
  text-align: center;
  line-height: 41px;
  background: #dc0000;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  margin-top: 20px;
}

.limit-box li:hover img {
  transform: scale(1.15);
}

.picture {
  height: 182px;
  background-color: #fff;
}

.picture img {
  width: 100%;
}

.section {
  height: 2500px;
  background-color: #f2f2f2;
}

.bursting {
  padding: 42px 0 44px;
}

.section .section-title {
  width: 100%;
  line-height: 32px;
}

.section h2 {
  font-size: 26px;
  color: #333;
  line-height: 32px;
}

.section .more {
  font-size: 17px;
  line-height: 32px;
}

.section .icon-Group- {
  margin-left: 10px;
  transition: all 0.3s;
}

.section .more:hover {
  color: #08c;
}

.section a:hover .icon-Group- {
  margin-left: 30px;
}

.bur-lists {
  padding-top: 18px;
}

.bur-lists li {
  float: left;
  width: 300px;
  text-align: center;
  margin-right: 6px;
  background: #fff;
  overflow: hidden;
}

.bur-lists li:nth-child(4) {
  margin-right: 0px;
}

.bur-lists li a {
  display: block;
  position: relative;
}

.bur-event {
  display: inlineblock;
  padding: 5px 10px;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  background: #f71a27;
  margin: 0 auto;
}

.bursting-pic {
  width: 220px;
  display: block;
  margin: 20px auto 10px;
}

.bur-says {
  position: absolute;
  bottom: -10px;
  background-color: #f71a27;
  width: 0;
  text-align: left;
  transition: all 0.3s;
  overflow: hidden;
}

.bur-says1 {
  font-size: 13px;
  color: #fff;
  line-height: 22px;
  height: 22px;
  overflow: hidden;
  margin: 13px 17px 0;
}

.bur-says2 {
  color: #f3b7b9;
  font-size: 13px;
  line-height: 22px;
  height: 22px;
  overflow: hidden;
  margin: 0 17px 13px;
}

.bur-detial {
  padding: 14px 10px 13px;
  width: 280px;
  height: 101px;
  border-top: dashed 1px #999;
  position: relative;
}

.bur-detial h2 {
  font-size: 16px;
  color: #050000;
  line-height: 28px;
  height: 28px;
  overflow: hidden;
}

.bur-detial .cont {
  font-size: 12px;
  color: #666;
  line-height: 26px;
  height: 26px;
  filter: alpha(opacity=100);
  opacity: 1;
}

.bur-detial .price {
  font-size: 20px;
  margin-left: 5px;
  color: #ff0000;
  line-height: 44px;
}

.bur-detial .txt {
  color: #8b8b8c;
  font-size: 12px;
  margin-left: 5px;
}

.bur-detial .icon-pinzhibaozhang {
  margin-left: 15px;
  font-size: 12px;
  color: orange;
}

.btns {
  opacity: 0;
}

.btns a {
  display: inline-block;
  width: 108px;
  height: 29px;
  margin: 0 4px;
  font-size: 12px;
  background: #fff;
  line-height: 29px;
  border-radius: 2px;
  transition: color 0.3s;
}

.infor {
  color: #808080;
  border: 1px solid #e4e4e4;
  position: absolute;
  left: 25px;
  bottom: 35px;
}

.search {
  color: #ff0000;
  border: 1px solid #f00;
  position: absolute;
  left: 142px;
  bottom: 66px;
}

.btns-price {
  position: absolute;
  left: 20px;
  bottom: 140px;
}

.btns-txt {
  position: absolute;
  left: 125px;
  bottom: 160px;
}

.bur-lists li:hover .btns {
  opacity: 1;
}

.bur-lists li:hover .cont {
  opacity: 0;
}

.bur-lists li:hover .bur-says {
  width: 100%;
}

.recom {
  font-size: 16px;
  color: #333;
  line-height: 32px;
  float: right;
  margin-right: 25px;
  transition: color 0.3s;
}

.reActive {
  color: #08c;
}

.salebox {
  padding-top: 10px;
}

.salebox-l {
  position: relative;
  width: 301px;
  overflow: hidden;
}

.salebox-l img {
  width: 100%;
  max-height: 507px;
  transition: transform 0.5s;
}

.salebox-l:hover img {
  transform: scale(1.1);
}

.salebox-l .red {
  z-index: 2;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

.con {
  padding: 22px 20px 24px;
  width: 250px;
  height: 46px;
  background: url(https://img.shoprobam.com/Public/pcnew_xb/img/img50.png) no-repeat center;
  position: absolute;
  bottom: 11px;
  left: 6px;
}

.con h2 {
  font-size: 30px;
  color: #e52d2d;
  line-height: 46px;
  float: left;
  width: 115px;
}

.con h3 {
  font-size: 14px;
  color: #666;
  line-height: 22px;
}

.con p {
  font-size: 16px;
  color: #050000;
  line-height: 24px;
}

.salebox-r {
  width: 919px;
  height: 507px;
  position: relative;
}

.salebox-r ul {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.salebox-r .salebox-r-lists {
  display: block;
}

.salebox-r li {
  float: left;
  margin-left: 8px;
  width: 414.5px;
  background: #fff;
  text-align: center;
  height: 180px;
  padding: 39px 20px 32px 17px;
  position: relative;
  top: 0;
}

.bt {
  position: absolute;
  top: 2px;
  left: 50%;
  margin-left: -47px;
}

.sale-pic {
  width: 180px;
  height: 180px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.sale-pic img {
  width: 100%;
}

.con-box {
  width: 218px;
  text-align: left;
  padding-top: 17px;
  position: relative;
  transition: all 0.3s;
}

.con-box h2 {
  font-size: 16px;
  color: #050000;
  line-height: 32px;
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.con-box p {
  font-size: 12px;
  color: #989898;
  line-height: 22px;
}

.con-box .price {
  font-size: 24px;
  color: #ff0000;
  line-height: 33px;
}

.con-box .txt {
  font-size: 12px;
  color: #8b8b8c;
  line-height: 25px;
}

.con-box .search {
  width: 111px;
  height: 30px;
  background: #dc0000;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  margin-top: 12px;
  border-radius: 2px;
  display: block;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  left: 0;
  bottom: -48px;
}

.salebox-r li:hover .search {
  opacity: 1;
}

.salebox-r li:hover .con-box {
  padding-top: 0;
}

.salebox-r li:nth-child(1) {
  margin-bottom: 5px;
}

.salebox-r li:nth-child(2) {
  margin-bottom: 5px;
}

.content-lists {
  margin-top: 18px;
  border: 1px solid #e5e5e4;
  background: #fff;
  display: block;
  border: 1px solid #ddd;
}

.content-lists li {
  width: 303px;
  float: left;
  border-right: 1.5px solid #ddd;
}

.list-top {
  width: 100%;
  background: #eee;
  height: 105px;
  position: relative;
}

.list-top span {
  font-size: 20px;
  color: #050000;
  line-height: 30px;
  padding-left: 10px;
}

.list-top-a {
  display: block;
  position: absolute;
  margin: auto;
  top: 40px;
  left: 75px;
}

.list-top img {
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.list-bot {
  background-color: #fff;
  padding: 23px 30px 29px 30px;
}

.list-bot p {
  font-size: 12px;
  line-height: 29px;
  height: 29px;
  overflow: hidden;
}

.content-lists li:hover img {
  opacity: 1;
}

.video {
  padding-top: 19px;
}

.video-lists li {
  float: left;
  margin-right: 10px;
  width: 297px;
}

.video-lists li:nth-last-child(1) {
  margin-right: 0px;
}

.video-pic {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.video-pic img {
  width: 100%;
  transition: all 0.3s;
}

.video-pic .open {
  width: 30px;
  height: 30px;
  background: url(https://img.shoprobam.com/Public/pcnew_xb/svg/video.svg) no-repeat center;
  background-size: 100%;
  position: absolute;
  bottom: 13px;
  left: 13px;
  display: block;
}

.video-box {
  padding: 26px 20px 24px;
  background: #fff;
  text-align: center;
}

.video-box h2 {
  font-size: 15px;
  color: #333;
  line-height: 29px;
}

.video-box p {
  font-size: 12px;
  color: #717071;
  line-height: 26px;
}

.video-lists li:hover h2 {
  color: #08c;
}

.video-lists li:hover .open {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}

.video-lists li:hover img {
  transform: scale(1.2);
}

.foot {
  height: 520px;
}

.footer {
  padding: 43px 0 2px;
}

.footer1 {
  padding: 0 59px 40px 23px;
  border-bottom: 1px solid #f4f4f4;
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

.footer1-box {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer1-box span {
  font-size: 36px;
}

.footer1-box p {
  display: flex;
  font-size: 16px;
  color: #595757;
  line-height: 27px;
  margin-top: 17px;
}

.footer2 {
  padding: 62px 0;
  border-top: 1px solid #d4d4d5;
  border-bottom: 1px solid #f4f4f4;
}

.footer2-list {
  width: 1000px;
}

.footer2-list li {
  float: left;
}

.footer2-list .li1 {
  width: 120px;
}

.footer2-list .li1 h2 {
  font-size: 14px;
  color: #323333;
  font-weight: bold;
  line-height: 34px;
  margin-bottom: 13px;
}

.footer2-list .li1 p {
  font-size: 12px;
  color: #7f7f80;
  line-height: 24px;
}

.footer2-list .li1 a {
  color: #7f7f80;
  transition: color 0.3s;
}

.footer2-list .li1 a:hover {
  color: #08c;
}

.footer-right h2 {
  font-size: 24px;
  color: #2688c7;
  line-height: 29px;
  font-weight: bold;
}

.footer-right p {
  font-size: 12px;
  color: #4d4d4d;
  line-height: 21px;
  margin-bottom: 9px;
}

.footer-right a {
  width: 102px;
  height: 31px;
  line-height: 31px;
  padding-left: 19px;
  font-size: 12px;
  color: #fff;
  margin: 0 auto;
  text-align: left;
  display: block;
  background: #2688c7;
}

.footer-right i {
  width: 16px;
  height: 16px;
  background: url(https://img.shoprobam.com/Public/pcnew_xb/svg/foot07.svg) no-repeat center;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 15px;
}

.footer3 {
  border-top: 1px solid #dfdfdf;
  padding: 19px 0;
}

.footer3 a {
  float: left;
  color: #717171;
  font-size: 12px;
  line-height: 22px;
  transition: color 0.3s;
}

.footer3 i {
  width: 1px;
  height: 9px;
  float: left;
  display: block;
  background: #717171;
  margin: 0 12px;
  margin-top: 7px;
}

.footer3 p {
  float: left;
  color: #717171;
  font-size: 12px;
  line-height: 22px;
  padding: 0 24px 0 28px;
}

.footer3 .bf {
  margin-right: 17px;
}

.footer3 img {
  width: 47px;
}

/*# sourceMappingURL=index.css.map */
